<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qgame.playerproj">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face"/>
        <activity
            android:name=".opencv.SampleOpenCVMatActivity"
            android:exported="false" />
        <activity
            android:name=".gpu.SampleGpuMainActivity"
            android:exported="false" />
        <activity
            android:name=".gpu.SampleGpuViewActivity"
            android:exported="false" />
        <activity
            android:name=".SampleAgingBlendActivity"
            android:exported="false" />
        <activity
            android:name=".SampleMaskColorActivity"
            android:exported="false" />
        <activity
            android:name=".SampleLottieBlendActivity"
            android:exported="false" />
        <activity
            android:name=".SampleVideoViewActivity"
            android:exported="false" />
        <activity
            android:name=".SampleLottieAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".player.AnimSimpleDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".player.AnimVapxDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".player.AnimActiveDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".player.AnimSpecialSizeDemoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SimpleLottieActivity" />
        <activity android:name=".SimpleFaceDetectActivity" />
    </application>

</manifest>